[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
boto3 = "*"
botocore = "*"
autopep8 = "*"

[packages]
pandas = "*"
pymysql = "*"
lambda-decorators = "*"

[requires]
python_version = "3.7"
